.countdownTimer {
    display: flex;
    justify-content: right;
    font-size: 1.5em;
    flex-direction: column;
    align-items: flex-end;
    color: var(--text-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}