:root {
  --bg-color: rgb(212, 212, 212);
  --text-color: rgb(17, 16, 16);
}

.app.dark {
  --bg-color: rgb(17, 16, 16);
  --text-color: rgba(255, 255, 255, 0.603);
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
}


body, html {
  margin: 0;
  padding: 0;
}
